body {
    text-align: center;
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

*{
 margin: 0%;
}



h1,h2,a {
    color: rgb(228, 228, 228);
}
form {
  align-content: center;
  text-align: center;
}
::placeholder{
    color: blanchedalmond;
    font-weight: bold;
}
#container {
    display: inline-block;
    width: 40%;
    margin: 150px;
    margin-right: 100px;
    background-color:rgb(14, 21, 59);
    box-shadow: 0px 0px 12px rgb(14, 21, 59);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 60px;
    height: 60%;
    border-image-repeat:space;
    
}


.End {
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(14, 21, 59);
  text-emphasis-color: white;
  text-align:unset;
}

input {
    margin: 5%;
    background-color: transparent;
    border: none;
    
    border-bottom:2px solid  #a18cd1;
    margin-right: 5%;
    border-width: 100%;
    color: wheat;

    
}

label{
  color: wheat;
}

button{
   
    width: 30%;
    box-shadow: 2px 2px 15px black;
    height: 10%;
    font-weight: bold;
    border-radius: 20px;
    color: black;
    margin: 5%;
     border: none;
    display:table-cell;
    position: relative;
    transition-duration: 0.3s;
}



.navbar {
    overflow: hidden;
    background-color: rgb(11, 10, 63);
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }